*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    
}

.cuerpo {
    width: 750px;
    height:500px;
    border: 2px;
    border-style: solid;
    border-color: red;
}

.encabezado {
    padding-top:30px;
    border: 2px;
    border-style: solid;
    border-color:blueviolet;  
    height: 20%;
}

.bloque-contenido {

    border: 2px;
    border-style: solid;
    border-color:skyblue;  
    height: 80%;
    display: grid;
    grid-template-columns: 34% 66%;
}

.secundario
{
    padding-top:30px;
    border: 2px;
    border-style: solid;
    border-color:springgreen;  
}

.principal
{
    border: 2px;
    border-style: solid;
    border-color:blue;  
}

.caja-herramientas
{
    padding-top:30px;
    border: 2px;
    border-style: solid;
    border-color:orange; 
    height: 25%;
}

.caja-contenido
{
    border: 2px;
    border-style: solid;
    border-color:magenta; 
    height: 75%;
}

